.card__create--available {
    border: none;
    border-radius: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;


    background-color: antiquewhite;

    width: 20%;

    height: auto;

    margin: 20px;

    position: relative;

}

.card__create--not-available {
    border: none;
    border-radius: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    background-color: rgb(146, 128, 100);

    width: 20%;

    height: auto;

    margin: 20px;

    position: relative;
}



.card {
    display:  flex;
    flex-direction: column;
}

.card__name--active {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 15px;
    padding-bottom: 15px;

    background-color: rgb(184, 56, 56);
    color: white;

    font-size: 32px;
    font-weight: bold;
}

.card__name--inactive {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 15px;
    padding-bottom: 15px;

    background-color: rgb(83, 51, 19);
    color: rgb(146, 128, 100);

    font-size: 32px;
    font-weight: bold;
}

.card__replace {
    width: 80%;
    margin: 0 auto;
}

.card__description {
    margin-top: 20px;


    text-align: center;
}

.card__price {
    display: flex;
    justify-content: right;

    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}
